/* reviews section */
:root {
    --headline: #A0A0A0;
    --headline-border: #808080;
    --review-box: #f0f0f0;
}

.inner-headline {
    height: 100px;
    align-content: center;
    background-color: var(--headline);
    border-top: 10px solid var(--headline-border);
}

.title h3 {
    text-align: center;
    font-size: 2em;
}

.reviews .dorm-container {
    background: var(--review-box);  
    padding: 1em;
    margin: 1em;
}

.reviews .col-md-5 {
    display: flex;
    justify-content: center;
    padding: 1em;
}

.reviews .col-md-7 {
    padding: 1em;
}

.reviews .col-md-5 img {
    max-width: 100%;
}