/* Dorms Reviews */
:root {
    --headline: #A0A0A0;
    --review-box: #f0f0f0;
}

.inner-headline {
    height: 100px;
    align-content: center;
    background-color: var(--headline);
}

.title h3 {
    text-align: center;
    font-size: 2em;
}

.reviews {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;
}

.reviews .dorm-container {
    background: var(--review-box);  
}

.reviews .col-md-5 {
    display: flex;
    justify-content: center;
}

.reviews .col-md-5 img {
    max-width: 100%;
}



