:root {
    --primary-color: #333333;
    --secondary-color: #24af7a;
    --tertiary-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #333;
}

h1, h2 {
    font-weight: 300;
    line-height: 1.2;
    margin: 10px 0;
}

.title h3 {
    text-align: center;
    font-size: 2em;
    
}

h5, h6 {
    line-height: 1.2;
    margin: 10px 0;
}

p {
    margin: 10px 0;
    font-size: 18px;
}

img {
    max-width: 100%;
    height: auto;
}

/* ===================== 
    Navbar
====================== */
.nav-bg-color {
    background-color: var(--primary-color);
}

/* ===================== 
    footer 
====================== */
.ft-bg-color {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}

.ft-bg-color a {
    color: var(--tertiary-color);
}

.footer .social a {
    margin: 0 10px;
}

.footer nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ===================== 
    footer media queries
====================== */

/* Tablets and under */
@media(max-width: 768px) {

    .footer .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}  

/* Mobile */
@media(max-width: 500px) {
    

    .footer .grid {
        grid-template-columns: 1fr;
        text-align: center;
    }
}

/* ===================== 
    Utilities
====================== */
.container {
    max-width: 1100px;
    margin: 0 auto; 
    overflow: auto;
    padding: 0 40px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: visible;
}

.grid-3 {
    grid-template-columns: repeat(3, 1fr);
}

.card {
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    margin: 10px;
}

.btn {
    display: inline-block;
    cursor: pointer;
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
}

.btn:hover {
    transform: scale(0.98);
}

/* Margin */
.my-1 {
    margin: 1rem 0;
}

.my-2 {
    margin: 1.5rem 0;
}

.my-3 {
    margin: 2rem 0;
}

.my-4 {
    margin: 2.5rem 0;
}

.my-5 {
    margin: 3rem 0;
}

/* Padding */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 1.5rem 0;
}

.py-3 {
    padding: 2rem 0;
}

.py-4 {
    padding: 2.5rem 0;
}

.py-5 {
    padding: 3rem 0;
}